<app-about-me></app-about-me>
<h5 class="sidebar-subtitle" i18n>Langues :</h5>
<img src="assets/img/langages_chart.svg" class="sidebar-chart" />
<h5 class="sidebar-subtitle" i18n>Langages :</h5>
<img src="assets/img/programing_langage_chart.svg" class="sidebar-chart" />
<h5 class="sidebar-subtitle" i18n>Outils :</h5>
<div class="tool-competence-list-container">
    <ng-container *ngFor="let competence of toolCompetencies">
        <app-tool-competence class="tool-competence-item" [toolCompetence]="competence"></app-tool-competence>
    </ng-container>
</div>